doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="/images/icon.png", type="image/x-icon")
        link(rel="stylesheet", href="/styles/global.css")
        link(rel="stylesheet", href="/styles/puzzle/fifth.css")
        script(src="/scripts/puzzle/fifth.js" defer) 
        title fifth-puzzle
    body
        .instructions
            h2(class="title")
                | Para este vas a tocar P I A N O
            p(class="text")
                | toca las notas en orden
                | para desbloquear el código
            button(class="btn", id="start") Empezar
        .puzzles
            h3(class="title puzzle", id="puzzle")
            p(class="text puzzle", id="content")
            h3(class="title puzzle", id="finish")
        ul(class="piano")
            li(class="white b start note")
                P B
            li(class="white c note")
                p C
            li(class="black cs note") 
                p C#
            li(class="white d note")
                p D
            li(class="black ds note") 
                p D#
            li(class="white e note") 
                p E
            li(class="white f note") 
                p F
            li(class="black fs note") 
                p F#
            li(class="white g note") 
                p G
            li(class="black gs note") 
                p G#
            li(class="white a note") 
                p A
            li(class="black as note") 
                p A#
            li(class="white b note") 
                p B
            li(class="white c note") 
                p C
            li(class="black cs note") 
                p C#
            li(class="white d note") 
                p D
            li(class="black ds note") 
                p D#
            li(class="white e note") 
                p E
            li(class="white f end note") 
                p F
        .clear
            button(class="btn", id="reset") Reset
        .error-label(id="error")
            p(class="text") Secuencia incorrecta