doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles/global.css")
        link(rel="stylesheet", href="/styles/puzzle/first.css")
        script(src="/scripts/puzzle/first.js" defer) 
        link(rel="shortcut icon", href="/images/icon.png", type="image/x-icon")
        title first-puzzle
    body
        .header
            h1(class="title") Espero y seas buena para resolver acertijos porque de esto se trata el primer reto 游땓
            label(class="text") Y si estar치n en verso...(no soy bueno para las rimas JAJANT)
            button(class="btn start", id="start") Empezar
        .puzzle
            div(class="question first")
                h2(class="title") El gato fue encontrado en un lugar muy atareado, con nombre del lugar fue llamado
                .input
                    input(type="text", class="result")
                    button(class="btn verify") Verificar
                    .error-label(class="error", id="error")
                        .bars(id="bars")
                            .bar1
                            .bar2
                        p(class="text") Esa no es ji ji ji

            div(class="question second")
                h2(class="title") Mitad perro mitad pudin de nata, no lo olvides o te dar치 lata
                .input
                    input(type="text", class="result")
                    button(class="btn verify") Verificar
                    .error-label(class="error", id="error")
                        .bars(id="bars")
                            .bar1
                            .bar2
                        p(class="text") Esa no es ji ji ji

            div(class="question third")
                h2(class="title") Lugar de flores, lugar de ranas, ten cuidado o tu celular estar치 en el agua
                .input
                    input(type="text", class="result")
                    button(class="btn verify") Verificar
                    .error-label(class="error", id="error")
                        .bars(id="bars")
                            .bar1
                            .bar2
                        p(class="text") Esa no es ji ji ji

            div(class="question fourth")
                h2(class="title") En un instante, el mito estall칩, detr치s de mi, detr치s de vos...
                .input
                    input(type="text", class="result")
                    button(class="btn verify") Verificar
                    .error-label(class="error", id="error")
                        .bars(id="bars")
                            .bar1
                            .bar2
                        p(class="text") Esa no es ji ji ji

            div(class="question five")
                h2(class="title") Que?
                .input
                    input(type="text", class="result")
                    button(class="btn verify") Verificar
                    .error-label(class="error", id="error")
                        .bars(id="bars")
                            .bar1
                            .bar2
                        p(class="text") Esa no es ji ji ji

            div(class="question five")
                h2(class="title") Donde la historia naci칩 con un pu침o inici칩
                .input
                    input(type="text", class="result")
                    button(class="btn verify") Verificar
                    .error-label(class="error", id="error")
                        .bars(id="bars")
                            .bar1
                            .bar2
                        p(class="text") Esa no es ji ji ji