doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles/global.css")
        link(rel="stylesheet", href="/styles/puzzle/second.css")
        link(rel="shortcut icon", href="/images/icon.png", type="image/x-icon")
        script(src="/scripts/puzzle/second.js" defer) 
        title second-puzzle
    body
        .instrucciones
            h1 para este reto tienes que rellenar las palabras faltantes de las canciones
            h1 NO puedes buscar la letra, puedes buscar la canción y a oído rellenar las palabras faltantes
        button(id="start" class="btn") EMPEZAR
        .song
            p(class="text")
                | Que se quede el 
                input(type="text" class="word")
                | sin estrellas
            p(class="text")
                | O que pierda el ancho mar su 
                input(type="text" class="word")

            p(class="text")
                | Pero el 
                input(type="text" class="word")
                | de tus ojos que no
                input(type="text" class="word")
            p(class="text")
                | Y el 
                input(type="text" class="word")
                | de tu piel se quede igual

            p(class="text")
                | Si perdiera el 
                input(type="text" class="word")
                | su belleza

            p(class="text")
                | Y las flores su 
                input(type="text" class="word")
                | y su color

            p(class="text")
                | No sería tan inmensa mi 
                input(type="text" class="word")

            p(class="text")
                | Como aquella de quedarme sin tu 
                input(type="text" class="word")

            p(class="text")
                | Me importas 
                input(type="text" class="word")
                | , y tú, y tú
            p(class="text")
                | Y solamente tú, y 
                input(type="text" class="word")
                | , y tú
            p(class="text")
                | Me importas tú, y tú, y 
                input(type="text" class="word")
            input(type="text" class="word")
            button(id="validar" class="validar btn") VALIDAR
        .song
