doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles/puzzle/sixth.css")
        link(rel="stylesheet", href="/styles/global.css")
        script(src="/scripts/puzzle/sixth.js" defer) 
        title IMPOSIBLE
    body
        .puzzle
            h1(class="title") Este puzzle se divide en 2 partes 😈, tu eliges con cual iniciar
            button(id="dev", class="btn") PROGRAMACIÓN
            button(id="maths", class="btn") MATEMÁTICAS
            .part(id="devDOM")
                p(class="text") Quiero que abras la consola ahi encontraras mas instrucciones
            .part(id="mathDOM")
                p(class="text") toma para empezar resuelve las siguientes derivadas y la integral
                .deriv
                    img(src="/images/example.png", alt="")
                    input(class="ans" type="number" id="first")
                    button(class="btn verify" id="firstVerify") verificar
                .deriv
                    img(src="/images/example.png", alt="")
                    input(class="ans" type="number" id="second")
                    button(class="btn verify" id="secondVerify") verificar
                .deriv
                    img(src="/images/example.png", alt="")
                    input(class="ans" type="number" id="third")
                    button(class="btn verify" id="thirdVerify") verificar
                button(class="btn" id="getMathsResults") ENVIAR
                .hex
                    .img
                        img(src="/images/hex.png", alt="")
                        p(id="result", class="text") 53 4243
                    button(class="btn") ????
                    input(type="text")
                    .result
                        p(id="code_result", class="text") SBC
                