.app {
    height: 100vh;
    background-color: var(--YELLOW);
}

.container {
    position: absolute;
    text-align: center;
}

h1 {
    cursor: default;
    margin: 15px 0;
}

input[type="date"] {
    background-color: var(--BLUE);
    padding: 15px;
    font-family: var(--TEXT);
    color: white;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
}

::-webkit-calendar-picker-indicator {
    background-color: white;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}
