a {
  text-decoration: none;
  color: black;
}

body {
    background-color: var(--GREEN);
}

label {
  display: block;
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  padding: 20px;
  margin-top: 50px;
}

.item {
    text-align: center;
}

.puzzle {
  background-color: var(--BLUE);
  position: relative;
  color: white;
  border-radius: 5px;
  display: inline-flex;

  justify-content: center;
  align-items: center;

  margin: 10px;

  width: 150px;
  height: 80px;
}

.puzzle:hover {
  background-color: var(--DARK-BLUE);
}

.complete {
  background-color: gray;
  pointer-events: none;
  cursor: pointer;
}

.finish-code {
  color: red;
  font-size: 30px;
  bottom: 0px;
  position: absolute;
}

.code {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inp {
  background-color: white;
  border-radius: 25px;
  padding: 10px;
}

.code input[type="text"] {
  height: 25px;
  outline: none;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  font-family: var(--TEXT-FONT);
}
