body {
    background-color: var(--YELLOW);
    text-align: center;
}

.text {
    font-size: 35px;
}

.instrucciones {}

.song {
    display: none;
}

.word {
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 135px;
    font-size: 35px;
    background-color: var(--YELLOW);
}

.word:focus {
    outline: none;
}

.validar {
}
