doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles/global.css")
        link(rel="stylesheet", href="/styles/menu.css")
        script(src="/scripts/menu.js" defer) 
        title=title
    body
        .menu
            .item
                a(href="/puzzle/first")
                    div(class="puzzle first")
                        p(class="title") Fácil
                label Done
            .item
                a(href="/puzzle/second")
                    div(class="puzzle second")
                        p(class="title") 2
                label Done 
            .item
                a(href="/puzzle/second")
                    div(class="puzzle first")
                        p(class="title") 3
                label Done         
            .item
                a(href="/puzzle/second")
                    div(class="puzzle first")
                        p(class="title") 4
                label Done 
            .item
                a(href="/puzzle/second")
                    div(class="puzzle first")
                        p(class="title") 5
                label Done 
            .item
                a(href="/puzzle/second")
                    div(class="puzzle first")
                        p(class="title") 6
                label Done 
        .code
            input(type="text", name="code")
            button(class="btn") Enviar