doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles/global.css")
        link(rel="stylesheet", href="/styles/error/inProgress.css")
        title WORK IN PROGRESS
    body 
        .msg
            h2(class="title") Esto aun no está listo, pero se está trabajando para completarlo 🐸
            p(class="text") Si quieres saber cuando estará listo, contacta al desarrollador o sea yo jajant
            img(src="/images/rata.gif", alt="rata")